<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="DjangoDevs is a web application designed for developers! Create your own profile, discover developers from around the world, and connect with them to explore new opportunities! " />
    <meta name="keywords" content="Django, Python, Portfolios" />
    <meta name="author" content="Kevin van der Schans Delgado" />
    <meta name="robots" content="index, follow" />
    <meta property="og:site_name" content="DjangoDevs" />
    <meta name="google-site-verification" content="verification_token" />
    <link rel="shortcut icon"
          href="{% static 'favicon.ico' %}"
          type="image/x-icon" />
    <link rel="stylesheet"
          href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <title>DjangoDevs</title>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  </head>
  <body>

    {% include 'navbar.html' %}

    {% if messages %}

      {% for message in messages %}
        <div class="alert  alert--{{ message.tags }}" role="alert">
          <p class="alert__message">
            {{ message }}
          </p>
          <button class="alert__close" aria-label="Close alert">
            x
          </button>
        </div>

      {% endfor %}

    {% endif %}

    {% block content %}

    {% endblock content %}
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script src="{% static 'uikit/app.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</html>
